<div class="mainCard">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div id="hoopCard" class="card">
            <img id="hoopPic" src="/img/hoop.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h1><%= @court.title %></h1>
            <p><%= @court.description %></p>
            <small><p>Address: <%= @court.location %></p></small>
            <small><p>Baskets: <%= @court.hoop_count %></p></small>
            <small><p>Rating: <%= @court.hoop_count %></p></small>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <% if @court.games != nil %>
              <h4>Available Games:</h4>
                <% @court.games.each do |game| %>
                  <a href="/game/<%= game.id %>"><%= game.game_name %>: </a><%= game.time.strftime("%B %u, %Y") %><%= game.time.strftime(" at %I:%M%p") %>
                <% end %>
            <% else %>
              <h4>No Available Games Yet</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3>Update <%= @court.title %>:</h3>
        <form action="/courts/<%= @court.id %>/update" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" autofocus required class="form-control">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input id ="location" type="text" name="location" required class="form-control">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" required class="form-control" rows="8" cols="50"></textarea>
          </div>
          <div class="form-group">
            <label for="hoop_count">Hoop Count</label>
            <input type="number" name="hoop_count" required class="form-control">
          </div>
          <div class="form-group">
            <label for="rating">Rating (1-5)</label>
            <input type="range" name="rating" min="1" max="5" required class="form-control">
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
