<div class="jumbotron">
  <h1><%= @game.game_name %></h1>
</div>

<h3><%= @game.court.title %></h3>
<h3><%= @game.time.strftime("%B %u, %Y") %><%= @game.time.strftime(" at %I:%M%p") %></h3>



<a href="/join_game/<%= @game.id %>"><button type="button" name="button">Join Game</button></a>
