<div class="jumbotron">
  <h1><%= @game.game_name %></h1>
</div>

<a href="/courts/<%= @game.courts.first.id %>"><h3><%= @game.courts.first.title %></h3></a>
<h3><%= @game.time.strftime("%B %u, %Y") %><%= @game.time.strftime(" at %I:%M%p") %></h3>



<a href="/join_game/<%= @game.id %>"><button type="button" name="button">Join Game</button></a>
