
<div class="mainCard">
  <div class="row">
    <div class="col-sm-6">
      <div id="hoopCard" class="card">
        <img id="hoopPic" src="/img/eden-wake.jpg" alt="">
      </div>
    </div>

    <div class="col-sm-6">
      <h1><%= @game.game_name %>:</h1>
      <h3><a href="/courts/<%= @game.courts.first.id %>"><%= @game.courts.first.title %></a></h3>
      <h5><%= @game.time.strftime("%B %u, %Y") %><%= @game.time.strftime(" at %I:%M%p") %></h5>
      <p><%= @court.description %></p>
      <br>
      <div class="card">
        <div class="form-group">
          <h3>Players:</h3>
          <% if @game.players.any? %>
          <ul>
            <% @game.players.each do |player| %>
            <li><%= player.name() %></li>
            <% end %>
          </ul>
          <% else %>
          <p>There are no players yet</p>
          <% end %>
        </div>
      </div>
      <a href="/join_game/<%= @game.id %>"><button id="Join_Game_id" type="button" class="btn btn-succes">Join Game</button></a>
    </div>
  </div>
</div>
